<div class="container">
  <div class="well-test col-md-6">
    <div class="row">
      <%= gravatar_for @user %>
      <b><%= @user.name %></b>
    </div>
    <div><h4>Email: <%= @user.email %></h4></div>
    <br/ >
    <br/ >
    <%= link_to "Update Profile", edit_user_path, class: "btn btn-warning" %>
    <%= link_to "Change Profile Picture", 'http://en.gravatar.com/', class: "btn btn-success" %>
    <br/ >
    <br/ >

    <thead>
      <tr>
        <th>Question</th>
        <th>Test Name</th>
        <% if current_user.present? %>
        <th>Score</th>
        <% end %>
      </tr>
    </thead>
    <% @user.solutions.each do |solution| %>
    <thead>
      <tr>
        <th><%= solution.question.exam.name %></th>
        <th><%= solution.question.content %></th>
        <th><% if solution.correct %>
          Correct<br/ >
          <% else %>
          Incorrect<br/ >
        </th>
        <% end %>
        <% end %>
      </tr>
    </thead>
  </table>
  </div>
</div>
